<br>
<br>
<br>
<br>
<div class="row vh-20 d-flex justify-content-center align-items-center">
    <div class="col-5 text-center">
        <h2 class="mb-4">Find Tripping travel plans from others</h2>
        <form action="/trip/search" method="POST" class="d-flex justify-content-evenly">
            <input class="form-control me-2" placeholder="Search by country">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
</div>