<br>
<br>
<br>
<div class="row">
    <div class="col-1 container-fluid border-end">
        <%- include('partials/sidebar') %>
    </div>
    <div class="col ms-2">
        <div>
            <h2>Welcome to Admin page</h2>
        </div>
    </div>
</div>


