<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-1 border-end vh-88" style="width: 143px;">
        <%- include('../partials/sidebar') %>
    </div>
    <div class="col ms-2 me-3">
        <form action="/admin/country" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <h2>Add Country</h2>
                </div>
            </div>
            <div class="row mt-2">
                <h4 class="mb-0">Main Information</h4>
                <div class="col-6">
                    <div>
                        <label for=""></label>
                        <input type="text" name="name" placeholder="Name of country" required class="form-control">
                    </div>
                    <div>
                        <label for=""></label>
                        <textarea name="description" placeholder="Description about the country" rows="3" class="form-control" required></textarea>
                    </div>
                    <div>
                        <label for=""></label>
                        <textarea name="timeToVisit" placeholder="Recommended time to visit the country" rows="3" class="form-control"></textarea>
                    </div>
                    <div>
                        <label for=""></label>
                        <input type="file" name="image" placeholder="Image of the country" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <button type="submit" class="btn btn-success">Save and close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    const adminMenu = document.getElementById('admin-menu')
    if (adminMenu) {
        adminMenu.classList.add('active')
        adminMenu.setAttribute('aria-current', 'page')
    }
</script>