.vh-20{
    height: 20vh;
}

.vh-88{
    height: 88vh;
}

.text-truncate-container p {
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}